{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<h1>{{ mensaje }}</h1>
{% endblock %}

{% block publicaciones %}
<div id="row_externa" class="row">
    <div class="col">
        <span style="float: left; margin-top: 10px; margin-bottom: 10px;">
            <img id="foto_interna" src="https://http2.mlstatic.com/D_NQ_NP_971372-MLA71089893252_082023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center"> 
            <img src="https://http2.mlstatic.com/D_NQ_NP_600753-MLA71089893250_082023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
            <img src="https://http2.mlstatic.com/D_NQ_NP_612895-MLA71090046662_082023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">   
        </span>
    </div>
    <div class="col" style="display:table;">
        <span style="display: table-cell; vertical-align: middle;">
            <img style="margin-right: 10px;" class="nav-item" src="/static/mercadopago_logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
            <img style="margin-right: 10px;" class="nav-item" src="/static/mercadolibre_logo.png" alt="Logo" width="24" height="17" class="d-inline-block align-text-top">
            <a href="https://articulo.mercadolibre.com.ar/MLA-1473829364-joystick-microsoft-xbox-wireless-controller-pulse-red-pc-_JM">Joystick Microsoft Xbox Wireless Controller Pulse Red Pc</a>
        </span>
    </div>
</div>
<!-- inicio de separador -->
<div class="row">
    <div class="col" style="display: table;">
        <span style="display: table-cell; vertical-align: middle">
        </span>
    </div>
    <div class="col" style="display: table;">
        <span style="display: table-cell; vertical-align: middle">
        </span>
    </div>
</div>
<!-- fin de separador -->
<div id="row_externa" class="row">
    <div class="col">
        <span style="float: left; margin-top: 10px; margin-bottom: 10px;">
            <img id="foto_interna" src="https://http2.mlstatic.com/D_NQ_NP_655469-MLA70633015168_072023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
            <img src="https://http2.mlstatic.com/D_NQ_NP_954229-MLA70661538935_072023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
            <img src="https://http2.mlstatic.com/D_NQ_NP_823546-MLA70661548485_072023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
        </span>
    </div>
    <div class="col" style="display:table;">
        <span style="display: table-cell; vertical-align: middle;">
            <img style="margin-right: 10px;" class="nav-item" src="/static/mercadopago_logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
            <img style="margin-right: 10px;" class="nav-item" src="/static/mercadolibre_logo.png" alt="Logo" width="24" height="17" class="d-inline-block align-text-top">
            <a href="https://articulo.mercadolibre.com.ar/MLA-1379112087-macbook-air-a1466-plata-133-intel-core-i5-8gb-256gb-ssd-_JM">Macbook Air A1466 Plata 13.3 Intel Core I5 8gb 256gb Ssd</a>
        </span>
    </div>
</div>
<!-- inicio de separador -->
<div class="row">
    <div class="col" style="display: table;">
        <span style="display: table-cell; vertical-align: middle">
        </span>
    </div>
    <div class="col" style="display: table;">
        <span style="display: table-cell; vertical-align: middle">
        </span>
    </div>
</div>
<!-- fin de separador -->
<div id="row_externa" class="row">
    <div class="col">
        <span style="float: left; margin-top: 10px; margin-bottom: 10px;">
            <img id="foto_interna" src="https://http2.mlstatic.com/D_NQ_NP_679310-MLA71192901274_082023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
            <img src="https://http2.mlstatic.com/D_NQ_NP_733422-MLA71192803202_082023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
            <img src="https://http2.mlstatic.com/D_NQ_NP_963942-MLA71233177903_082023-O.webp" alt="imagen" width="200" height="150" class="d-inline-block align-center">  
        </span>
    </div>
    <div class="col" style="display:table;">
        <span style="display: table-cell; vertical-align: middle;">
            <img style="margin-right: 10px;" class="nav-item" src="/static/mercadopago_logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
            <img style="margin-right: 10px;" class="nav-item" src="/static/mercadolibre_logo.png" alt="Logo" width="24" height="17" class="d-inline-block align-text-top">
            <a href="https://articulo.mercadolibre.com.ar/MLA-1479112894-casio-fx-9860gii-sd-ingenieria-_JM">Casio Fx-9860gii Sd Ingenieria</a>
        </span>
    </div>
</div>
{% endblock %}

{% block columnas %}
<div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>
{% endblock %}